@import "pod-styles";
@import "custom";
@import "ember-bootstrap/bootstrap";

body
  font-family: roboto;

.happy
  background-color: $teal_500;

.meh
  background-color: $yellow_500;

.sad
  background-color: $salmon_500;
