<div class="container-fluid">
  {{#if session.isAuthenticated }}
    <div class="offset-11 col-1">
      {{#bs-dropdown as |dd|}}
        {{#dd.toggle}}Menu <span class="caret"></span>{{/dd.toggle}}

        {{#dd.menu as |ddm|}}
          {{#ddm.item}}
            {{#ddm.link-to "teams"}}All Teams{{/ddm.link-to}}
          {{/ddm.item}}

          {{ddm.divider}}

          {{#ddm.item}}
            {{#ddm.link-to "my-credentials"}}My Credentials{{/ddm.link-to}}
          {{/ddm.item}}

          {{ddm.divider}}

          {{#ddm.item}}
            <button
              {{action 'invalidateSession'}}
              class="btn dropdown-item"
              type="button">
              Logout
            </button>
          {{/ddm.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
  {{/if}}

  <h1>Retroscope</h1>

  {{outlet}}
</div>