<form {{action "submit" on="submit"}}>
  <label for="password">Password</label>
  {{input autocomplete=off value=password type="password"}}<br/>

  <label for="password-confirmation">Password Confirmation</label>
  {{input autocomplete=off id="password-confirmation" type="password" value=passwordConfirmation}}<br/>

  <label for="current-password">Password</label>
  <i>(we need your current password to confirm your changes)</i><
  {{input autocomplete=off id="current-password" type="password" value=currentPassword}}<br/>

  <button type="submit">Change Password</button>
</form>
